name: CI/CD

on:
  push:
    branches:
      - cicdtest

jobs:
  cicd:
    runs-on: ubuntu-latest
    steps:
      - name: Set up CI server
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      # Gradle caching
      - name: Gradle Caching
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make application-prod.yml
        run: |
          cd ./src/main/resources
          touch ./application-prod.yml
          echo "${{ secrets.YML_PROD }}" > ./application-prod.yml
        shell: bash

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: gradlew bootJar
        run: ./gradlew bootJar

      - name: Docker build & push
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -t one-click-recipe:latest .
          docker tag one-click-recipe:latest ${{ secrets.DOCKER_USERNAME }}/one-click-recipe:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/one-click-recipe:latest

      - name: SSH Commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ec2-user
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script_stop: false
          script: |
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/one-click-recipe
            sudo docker stop one-click-recipe
            sudo docker rm one-click-recipe
            sudo docker run -d -p 8082:8082 --name one-click-recipe ${{ secrets.DOCKER_USERNAME }}/one-click-recipe
            sudo docker image prune -f